*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* barra in background iniziale */

main {
    height: 100px;
    background-color: aquamarine;
    position: relative;
}

/* container principale */

.my_container {
    top: 35px;
    background-color: blue;
    height: 600px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
}

/* header container principale */

.height_100px{
    height: 100px;
}

/* grandezza provvisora col */

.col-5 , .col-7 {
    height: 100px;
    border: 1px solid white;
}



img {
    width: 70px;
    border-radius: 40px;
}

.items_container i {
    padding-right: 15px;
}