*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bz-app-principal: #DBDBD2;
    --bz-app-header: #009688;
    --bz-app-success: #D5F9BA;
    --bz-app-light: #E9EBEB;
    --bz-app-white: #FFFFFF;
    --bz-app-focus: #8EDAFC;
}

/* barra in background iniziale */

/* body {
    overflow: hidden;
} */

main {
    background-color: #DBDBD2;
    height: 100vh;
}

.top_bar {
    height: 100px;
    background-color: #009688;
}

/* container principale */

.my_container {
    top: 35px;
    margin: 0 auto;
    width: 1200px;
}

/* header container principale */


.bg_light_gray {
    background-color: #DBDBD2;
}


img {
    width: 70px;
    border-radius: 40px;
}

.items_container i {
    padding-right: 15px;
}

/* fine header */

/* inizio main */

.circle {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.font_size_30 {
    font-size: 30px;
}

.color_items i {
    color: gray;
}

.no_border {
    border-radius: 0;
}

.bg_color_light_blue {
    background-color: #8EDAFC;
}

/* inizio area utenti */

.height_600 {
    height: 600px;
}

/* sezione dx */

.main_container_dx {
    height: 90%;
    background-image: url(./img/mine\ \(1\).jpg);
}

.right_5 {
    right: 5px;
}

.friends_chat:hover {
    background-color: lightgray;
    cursor: pointer;
}

.message {
    width: 300px;
    height: 65px;
    border-radius: 10px;
    margin-right: 45px;
    background-color: white;
}

.message__by_me {
    background-color: #D5F9BA;
}

.chat_time {
    right: 10px;
    position: absolute;
    bottom: 0;
    font-size: 12px;
}

.height_650 {
    height: 670px;
}

/* final chat section */

.height_15 {
    height: 10%;
}

