*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bz-app-principal: #DBDBD2;
    --bz-app-header: #009688;
    --bz-app-success: #D5F9BA;
    --bz-app-light: #E9EBEB;
    --bz-app-white: #FFFFFF;
    --bz-app-focus: #8EDAFC;
}

/* barra in background iniziale */

main {
    height: 100px;
    background-color: aquamarine;
    position: relative;
}

/* container principale */

.my_container {
    top: 35px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

/* header container principale */

.col-5 , .col-7 {
    border: 1px solid white;
}


img {
    width: 70px;
    border-radius: 40px;
}

.items_container i {
    padding-right: 15px;
}

/* fine header */

/* inizio main */

.circle {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.font_size_30 {
    font-size: 30px;
}

.no_border {
    border-radius: 0;
}

/* inizio area utenti */

.height_600 {
    height: 600px;
}

/* sezione dx */

.main_container_dx {
    height: calc(100% - 80px);
    background-color: green;
}

.right_5 {
    right: 5px;
}